@import url('https://fonts.googleapis.com/css?family=Assistant:200|Roboto:100');

/* Debug Command */

/* * {
    border: 1px dashed red;
} */


/* Basics */
:root {
    /* Based on Solarized Color Scheme by Ethan Schoonover */
    --dark: #272635;
    --light: #f0f0f0;
    --primary: #B1E5F2;
    --secondary: #FFB49A;
    --content: #565656;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.4;
    animation: fadein 1s;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Assistant', sans-serif;
}

p {
    margin: 0.75rem 0;
    /* font-family: "Open Sans"; */
    font-family: 'Roboto', sans-serif;
}

/* Utility */
.l-heading {
    font-size: 5rem;
}

.m-heading {
    font-size: 1.2rem;
}

.s-heading {
    font-size: 1rem;  
}

.container {
    max-width: 1100px; 
    margin: auto; 
    padding: 0 2rem; 
    overflow: hidden;
}

/* Splash Page */
#landing {
    background: rgba(0,0,0,0.4);
    color: white;
    height: 100vh;
    position: relative; 
}

#landing::before {
    content: '';
    background: url('https://source.unsplash.com/featured/?Japan') no-repeat center center/cover;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

#landing .landing-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

#landing .landing-content .splash-text {
    border-bottom: 2px solid #FFF;
}

#landing .landing-content .fa-angle-down {
    position: absolute;
    bottom: 3rem;
    color: white;
    animation: MoveUpDown 1.5s ease-in-out infinite; 
}

/* About Section */
#about {
    background: var(--light);
    color: var(--content);
}

#about .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about .container > div {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about .container p {
    max-width: 700px;
    padding: 2rem;
}


#about .container img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    margin: 0 2rem
}

/* Footer */
#social-media {
    background: var(--dark);
    color: var(--light);
}

#social-media .container {
    padding: 2rem 0;
}

#social-media p {
    text-align: center;
}

#social-media ul {
    height: 5vh;
    list-style: none;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

#social-media ul > li > a {
    color: white; 
    display: inline;
}

#social-media ul > li > a:hover {
    color: var(--primary);
    transition: color 0.4s ease;
}


@keyframes MoveUpDown {
    50% {
      transform: translate3d(0,1rem,0);
    }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}